<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bookish - Your Online Bookstore</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="logo">BOOKISH</div>
      <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Категории</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Рейтинги</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <form>
        <div class="search-container">
        <input class="search-bar" type="text" name="search" placeholder="Search">
        <button class="search-button" type="submit">
          <i class="fas fa-search search-icon"></i>
        </button>
      </div>
      </form>
    </div>
  </div>

  <div id="background">
    <div class="title-container">
      <h1 id="background-title" class="title">Популярные новинки от известных авторов уже в продаже в BOOKISH</h1>
    </div>
    <div id="top-background"></div>
    <button id="left-button" class="background-switch-button">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div id="carousel-indicators" class="carousel-indicators"></div>
    <button id="right-button" class="background-switch-button">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <main>
    <h1>Книжные новинки</h1>
    <section id="novelty-books">
      <div class="book">
        <img src="1_1.png" alt="Book 3">
        <h2>KGBT+</h2>
        <p>Виктор Пелевин Олегович</p>
        <div class="price">949 р.</div>
      </div>
      <div class="book">
        <img src="1_2.png" alt="Book 4">
        <h2>Книга Ночи</h2>
        <p>Блэк Х.</p>
        <div class="price">807 р.</div>
      </div>
      <div class="book">
        <img src="1_3.png" alt="Book 4">
        <h2>Бэтмен и сын</h2>
        <p>Моррисон Г., Джонс Дж., Рака Г., Уэйд М.</p>
        <div class="price">1 669 р.</div>
      </div>
      <div class="book">
        <img src="1_4.png" alt="Book 4">
        <h2>Дэдпул. Величайший комикс в мире. Том 6. Последняя капля</h2>
        <p>Джерри Дагган</p>
        <div class="price">726 р.</div>
      </div>
    </section>
    
    <h1>Хиты продаж</h1>
    <section id="sales-hits">
      <div class="book">
        <img src="2_1.png" alt="Book 3">
        <h2>Земля королей. Трефовый том</h2>
        <p>Федор Нечитайло</p>
        <div class="price">1 457 р.</div>
      </div>
      <div class="book">
        <img src="2_2.png" alt="Book 4">
        <h2>Земля королей. Червовый том</h2>
        <p>Федор Нечитайло</p>
        <div class="price">1 580 р.</div>
      </div>
      <div class="book">
        <img src="2_3.png" alt="Book 4">
        <h2>1984</h2>
        <p>Оруэлл Дж.</p>
        <div class="price">243 р.</div>
      </div>
      <div class="book">
        <img src="2_4.png" alt="Book 4">
        <h2>Дочь для волка</h2>
        <p>Уиттен Ханна</p>
        <div class="price">631 р.</div>
      </div>
    </section>
    
    <h1>Что почитать: выбор редакции</h1>
    <section id="editors-choice">
      <div class="book">
        <img src="3_1.png" alt="Book 3">
        <h2>Атлант расправил плечи. В 3 книгах</h2>
        <p>Рэнд А.</p>
        <div class="price">1 190 р.</div>
      </div>
      <div class="book">
        <img src="3_2.png" alt="Book 4">
        <h2>Психбольница в руках пациентов. Алан Купер об интерфейсах</h2>
        <p>Купер Алан</p>
        <div class="price">1 508 р.</div>
      </div>
      <div class="book">
        <img src="3_3.png" alt="Book 4">
        <h2>Что скрывают числа</h2>
        <p>Маурицио Кодоньо</p>
        <div class="price">571 р.</div>
      </div>
      <div class="book">
        <img src="3_4.png" alt="Book 4">
        <h2>Думай медленно... решай быстро</h2>
        <p>Канеман Даниэль</p>
        <div class="price">985 р.</div>
      </div>
    </section>
    
    <h1>Скоро в продаже</h1>
    <section id="coming-soon">
      <div class="book">
        <img src="4_1.png" alt="Book 3">
        <h2>Боги и чудовища</h2>
        <p>Махёрин Шелби</p>
        <div class="price">779 р.</div>
      </div>
      <div class="book">
        <img src="4_2.png" alt="Book 4">
        <h2>Бэтмен. Рептилия</h2>
        <p>Эннис Гарт</p>
        <div class="price">1 112 р.</div>
      </div>
      <div class="book">
        <img src="4_3.png" alt="Book 4">
        <h2>Искра (#3)</h2>
        <p>Кеннеди Р.</p>
        <div class="price">738 р.</div>
      </div>
      <div class="book">
        <img src="4_4.png" alt="Book 4">
        <h2>Египетские хроники. Кольцо огня (#2)</h2>
        <p>Вульф М.</p>
        <div class="price">807 р.</div>
      </div>
    </section>
  </main>
  
  <script src="script.js"></script>
  <footer>
    <p>&copy; 2023 Bookish. All rights reserved.</p>
  </footer>
</body>
</html>
