<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bookish - Your Online Bookstore</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="logo">BOOKISH</div>
      <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Категории</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Рейтинги</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <form>
        <div class="search-container">
        <input class="search-bar" type="text" name="search" placeholder="Search">
        <button class="search-button" type="submit">
          <i class="fas fa-search search-icon"></i>
        </button>
      </div>
      </form>
    </div>
  </div>

  <div id="background">
    <div class="title-container">
      <h1 id="background-title" class="title">Популярные новинки от известных авторов уже в продаже в BOOKISH</h1>
    </div>
    <div id="top-background"></div>
    <button id="left-button" class="background-switch-button">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div id="carousel-indicators" class="carousel-indicators"></div>
    <button id="right-button" class="background-switch-button">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <main>
    <div></div>
    <h1>Книжные новинки</h1>
    <section id="novelty-books">
      <div class="book"  th:each="nb:${noveltyBooks}">
        <img th:src="${nb.img}">
        <h2 th:text="${nb.name}"></h2>
        <p th:text="${nb.author}"></p>
        <div class="price">
          <span th:text="${nb.price}"></span>
          <span>р.</span>
        </div>
      </div>
    </section>
    
    <h1>Хиты продаж</h1>
    <section id="sales-hits">
      <div class="book"  th:each="hb:${hitBooks}">
        <img th:src="${hb.img}">
        <h2 th:text="${hb.name}"></h2>
        <p th:text="${hb.author}"></p>
        <div class="price">
          <span th:text="${hb.price}"></span>
          <span>р.</span>
        </div>
      </div>
    </section>
    
    <h1>Что почитать: выбор редакции</h1>
    <section id="editors-choice">
      <div class="book"  th:each="eb:${editorsBooks}">
        <img th:src="${eb.img}">
        <h2 th:text="${eb.name}"></h2>
        <p th:text="${eb.author}"></p>
        <div class="price">
          <span th:text="${eb.price}"></span>
          <span>р.</span>
        </div>
      </div>
    </section>
    
    <h1>Скоро в продаже</h1>
    <section id="coming-soon">
      <div class="book"  th:each="cb:${comingBooks}">
        <img th:src="${cb.img}">
        <h2 th:text="${cb.name}"></h2>
        <p th:text="${cb.author}"></p>
        <div class="price">
          <span th:text="${cb.price}"></span>
          <span>р.</span>
        </div>
      </div>
    </section>
  </main>
  
  <script src="script.js"></script>
  <footer>
    <p>&copy; 2023 Bookish. All rights reserved.</p>
  </footer>
</body>
</html>
